.logo{
    width: 5vw;
    height: 5vw;
}

.coverall{
    background-color: rgb(255, 255, 255);
    width: 45vw;
    margin: 2vw;
    height: 45vw;
    margin-left: 30vw;
    box-shadow: inset 0 -3em 3em rgba(125, 125, 125, 0.1), 0 0 0 2px rgb(221, 221, 221), 0.3em 0.3em 1em rgba(128, 128, 128, 0.3);

}

.sub{
    float: right;
}

.can{
    float: right;
    padding-top: 0.3vw;
    font-size: 0.8vw;
    padding-right: 2vw;
}

.can:hover{
    transform: scale(110%);
    transition: 1s;
}

.bdr{
    padding-left: 40vw;
}



/* .coverall{
    margin-left: 15vw;
} */