.coverall{
    background-color: rgb(255, 255, 255);
    width: 53vw;
    margin-left: 2vw;
    height: 42vw;
    border-radius: 1vw;
    box-shadow: inset 0 -3em 3em rgba(125, 125, 125, 0.1), 0 0 0 2px rgb(221, 221, 221), 0.3em 0.3em 1em rgba(128, 128, 128, 0.3);
    margin-left: 23vw;
    margin-top: 2vw;
}

.logo{
    margin-left: 18vw;
    position: relative;
    margin-top: -2vw;
    justify-content: center;
    display: flex;
}

.logo2{
    width: 3vw;
    height: 3vw;
}

.jdl{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    text-align: center;
    margin-top: 0.5vw;
    position: relative;

}

.bdy{
    background-color: rgba(104, 104, 104, 0.464);

}

.prn{
    border: none;
    background-color: white;

}

.print{
    float: left;
}

